@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 100% 100%;
    --foreground: 221 32% 28%;

    --card: 220 26% 37%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 0%;

    --primary: 214 64% 44%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217 59% 85%;
    --secondary-foreground: 221 32% 28%;

    --muted: 217 59% 85%;
    --muted-foreground: 221 32% 28%;

    --accent: 217 59% 85%;
    --accent-foreground: 221 32% 28%;

    --destructive: 359 85% 60%;
    --destructive-foreground: 0 0% 100%;

    --caution: 43 66% 59%;
    --caution-foreground: 0 0% 100%;

    --confirm: 137 46% 59%;
    --confirm-foreground: 0 0% 100%;

    --border: 217 59% 85%;
    --input: 217 59% 85%;
    --ring: 0 0% 0%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 221, 88%, 26%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.PhoneInputInput {
  @apply bg-transparent outline-none placeholder:text-muted-foreground;
}
